.bodyContainer {
  position: relative;

}
.slideContainer{
   position: absolute;
   width: 80%;
   left: 10%;
}
.btn {
   width: 3.2rem;
   height: 3.2rem;
   font-size: 2.4rem;
   color: var(--clr-white);
   background-color: var(--clr-grey-5);
   border-radius: var(--radius);
   border-color: transparent;
   cursor: pointer;
   text-align: center;
   line-height: 1.33;
   place-items: center;
   position: absolute;
   top: 300px;
}
.btnLeft{

   left: 50px;
}
.btnRight{
right: 50px;
}