.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.4rem auto 0;
    width: 80%;
}

.btn {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2.4rem;
    color: var(--clr-white);
    background-color: var(--clr-grey-5);
    border-radius: var(--radius);
    border-color: transparent;
    cursor: pointer;
    text-align: center;
    line-height: 1.33;
    place-items: center;
}

.slideContainer{
    display: flex;
    flex-direction: column;
align-items: center;
}

.image{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--clr-grey-8);
    box-shadow: var(--dark-shadow);
}
.name{
 color: var(--clr-primary-5);
    margin-top: 1.6rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.6rem;

 }
.jobTitle{
    color:var(--clr-grey-3);
    margin-top:0.4rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.review{
    color: var(--clr-grey-5);
    margin-top: 3.2rem;
    text-align: center;
    line-height: 2;
}
.icon{
    font-size: 4.8rem;
    margin-top: 1.6rem;
    color: var(--clr-primary-5);
}